.sidebar {
  display: flex;
  justify-content: end;
    background-color: white;
    width: 20%;
    height: 100vh;
     position: fixed;
    
    
  }
  .header {
    display: flex;
    flex-direction: column;
   
    min-width: 350px; /* set a larger width */
   
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 250px;
    overflow-y: visible;
  }
  .postTweet{
    display: flex;
    margin-top: 10px;
    
    
    /* padding: 0px; */
  }
  .everyone{
    margin-left: 2rem;
    width: 100%;
  }
  .tweetInput{
    font-size: 24px;
  margin-left: 4rem;
}
 
  .options {
    list-style-type: none;
    margin-top: 2rem;
    
    height: 100vh;
  }
  
  .option {
    padding: 0.6rem;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    
    position: relative;
    left: 35%;
  }
  .btn{
    
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 35%;
  }
  .btn2{
    width:20%;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 80%;
  }
  @media screen and (max-width: 900px) {
    .sidebar {
    width: 21%;
    
    height: 100vh;
    }
    .header {
      display: flex;
      flex-direction: column;
      
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      
    
    }
    .postTweet{
      display: flex;
      margin-top: 10px;
      width: 100%;
      margin-left: 10px;
      /* padding: 0px; */
    }
    
    .options {
    margin-top: 2rem;
    left:5%;
    height: 100vh;
    }
    
    .option {
    font-size: 20px;
    padding: 0.6rem;
    }
    
    .btn {
    font-size: 20px;
    padding: 0.5rem;
    
    }
    }