
    .container {

      display: flex;
     position: fixed;
      gap: 0.5rem;
      flex-direction: column;
     
      justify-content: center; 
      align-items: center;
       margin-left: 2rem;
       background-color: rgb(247, 247, 247);
       border-radius: 20px;
       margin-right: 6rem;
    }
    
    .btn{
      
      border-radius: 20px !important;
      
      align-items: center;
      text-transform: none !important;
      background-color: rgb(3, 3, 3) !important;
      color: rgb(255, 255, 255) !important;
    }
    
   
    .card{
    
      margin:10% 0%;
    }
    h1{
      color: rgb(10, 10, 10);
      text-align: center;
    }
    h3{
      color: rgb(12, 12, 12);
      text-align: center;
    }
    p{
      color: rgb(12, 12, 12);
      text-align: center;
    } 
  
  