.Headinh{
    display: flex;
    justify-content:space-around;
    text-align: center;
    border: 0.1rem solid black;
   
}
.Headinh>h2{
    height: 100%;
    width: 100%;
}
.PostTweetHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
   background-color: bisque;  
   border: 0.1rem solid black;  
}