.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  justify-content: space-between;
}

.searchInput {
  border: none;
  width: 100%;
  outline: none;
  background:#EFF3F4;
  border-radius: 50px;
  color: rgb(10, 10, 10);
  padding: 0.5rem 3rem;
  font-size: 1rem;
  gap:1rem;
  
}

.searchButton {
  position: absolute;
  top: 55%;
  right: -3rem;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;

}

.searchButton:focus {
  outline: none;
}

.searchButton:hover {
  opacity: 0.8;
}

/* svg {
  font-size: 1.1rem;
  color: silver;
} */
