.header {
    display: flex;
    flex-direction: column;
    width: 97%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black;

  }
  
  .buttons {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  button {
    border: none;
    background-color: transparent;
    color: #555;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    width: 50%;
  }
  
  button.active {
    background-color: #1da1f2;
    color: #fff;
    text-decoration: underline;
  }
  .postTweet{
    display: flex;
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
    /* padding: 0px; */
  }
  .avatar {

    height:50px;
    width: 50px;
  }
  .tweetInput{
    width: 80%;
  }
  
  .tweetInput input{
    /* background-color: #f5f8fa; */
    border-radius: 9999px;
    border: none;
    padding: 12px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 16px;
  }
  .btn{
    width: 100%;
    margin-left: 90px;
  }
  .Btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .btn1{
    /* border: 1px solid black; */
    width: 100%;
   
    margin-left: 4rem;
    cursor: pointer;
  }
  .btn2{
    cursor: pointer;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
    text-align: center;
  }
  .lastBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .lastBtn:hover{
    background-color: #f6f3f3;
  }
  .tweet{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #ccc;
    
    margin-bottom: 16px;
    
  }
  .image {
    max-width: 90%;
    height: auto;
    margin: 2rem;
    border-radius: 8px;
  }