.postContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ccc;
  margin: 0;
  
}

/* Styles for the user info section */
.userIndo {
  display: flex;
  flex-direction: row;


}

/* Styles for the user name */
.h3 {
  font-size: 25px;
  
  margin-left: 1rem;
 
}
.avatar{
  margin-top: 1rem;
}

/* Styles for the tweet timestamp */


/* Styles for the tweet content */
.p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 8px;
  margin-left: 1rem;
  color: black;
}


/* Styles for the tweet image */
.image {
  max-width: 100%;
  height: auto;
  
  margin: 2rem;
  border-radius: 8px;
}
.text{
  max-width: 100%;
  height: auto;
  
  margin-right: 2rem;
  margin-left: 2rem;
 

}

/* Styles for the tweet reach section */
.reach {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
}

/* Styles for the tweet reach icons */
.reachIcones {
  display: flex;
  align-items: center;
  color: #0c0c0c;
  cursor: pointer;
}

/* Styles for the tweet reach icon labels */
.reachIcones span {
  font-size: 14px;
  margin-left: 4px;
}