.container {

  display: flex;
 
  gap: 3%;
  flex-direction: column;
 width: 100%;
  justify-content: center; 
  align-items: center;
   padding-bottom: 1%;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
}
.stepper{
  color: aliceblue;
}
  
.btn{
  
  border-radius: 20px !important;
  width: 50%;
  margin: 10px !important;
  text-transform: none !important;
  background-color: rgb(3, 3, 3) !important;
  color: rgb(255, 255, 255) !important;
}

.input{
  width:50% !important;
  padding: 1px !important;
 
 background-color: aliceblue !important;
  
}
  
.card{
  
  margin:10% 30%;
}
h1{
  color: rgb(10, 10, 10);
  text-align: center;
}
h3{
  color: rgb(12, 12, 12);
  text-align: center;
}
p{
  color: rgb(12, 12, 12);
  text-align: center;
}