.container {

   display: flex;
  
   gap: 3%;
   flex-direction: column;
  width: 100%;
   justify-content: center; 
   align-items: center;
    padding-bottom: 1%;
    background-color: rgb(252, 248, 248);
    border-radius: 20px;
}

   
.btn{
   
   border-radius: 20px !important;
   width: 50%;
   margin: 20px !important;
   text-transform: none !important;
   background-color: rgb(7, 7, 7) !important;
   color: rgb(255, 255, 255) !important;
}

.input{
   width:50% !important;
   padding: 1px !important;
  
  background-color: aliceblue !important;
   
}
   
.card{
   
   margin:10% 30%;
}
h1{
   color: rgb(12, 12, 12);
   text-align: center;
}
h3{
   color: rgb(14, 14, 14);
   text-align: center;
}
.Calender{
    /* border: 1px solid; */
    height: 2rem;
    display: flex;
    gap: 10px;
    width: 50%
    
 }

 .Calender > select{
    width:50% ;
    height: 100%;
 }

 